<div class="container bg-white">
  <br>
  <h2 class="text-center fw-bold">Check our equipment</h2>

  <%= form_tag tools_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Filter by category",
    class: "my-4"
    %>
  <%= submit_tag "Search", class: "btn btn-primary btn-sm mx-2" %>
  <% end %>


  <div class="row g-4">

    <% @tools.each do |tool|%>
      <div class="col-lg-4 col-md-6 col-xs-8">
        <div class="card-trip">

          <% if tool.photos.any? %>
            <%= cl_image_tag tool.photos[0].key %>
          <%end%>

          <%= link_to tool_path(tool), class:"text-decoration-none link" do %>
            <div class="card-trip-infos">
              <div>
                <h2><%=tool.name.capitalize %></h2>
                <p><%= tool.description %></p>
              </div>
            <h2 class="card-trip-pricing">CHF <%= tool.price%></h2>
            </div>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>

  <div>
    <br>
    <% if policy(Tool).create? %>
      <%= link_to "Add equipment", new_tool_path, class: "btn-ghost link" %>
      <br>
      <br>
    <% end %>
  </div>
</div>
