<h2>All the Equipment available</h2>

<ul>
  <% @tools.each do |tool|%>
    <li>
      <%=link_to tool.name, tool_path(tool) %>
      <% if !tool.photo.key.nil? %>
        <%=cl_image_tag tool.photo.key, width: 300, crop: :fill %>
      <%end%>
      <%= tool.name%>
      <%= tool.category%>
      <%= tool.description%>
      <%= tool.price%>
    </li>
    <% if policy(tool).edit? %>
      <%= link_to "Edit", edit_tool_path(tool) %>
    <% end %>
    <% if policy(tool).destroy? %>
      <%= link_to 'Delete', tool, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <%end%>
</ul>

<% if policy(Tool).create? %>
  <%= link_to "Add new equipment", new_tool_path, class: "btn-ghost"%>
<% end %>
