<div class="card-product container">

    <div class="d-flex justify-content-evenly align-items-center image-container">

      <% if @tool.photos.any? %>
        <% if @tool.photos.length == 1 %>
          <%= cl_image_tag @tool.photos[0].key, class: "big-image-full" %>
        <% else %>

        <%= cl_image_tag @tool.photos[0].key, class: "big-image" %>

          <div class="d-flex flex-wrap justify-content-evenly flex-grow-1 align-items-center">
            <% if @tool.photos.length >= 4 %>
              <% @tool.photos[1..4].each do |photo| %>
                <%= cl_image_tag photo.key, class: "small-image" %>
              <% end %>
            <% elsif @tool.photos.length == 3 %>
              <% @tool.photos[1..2].each do |photo| %>
                <%= cl_image_tag photo.key, class: "small-2" %>
              <% end %>
            <% elsif @tool.photos.length == 2 %>
              <%= cl_image_tag @tool.photos[1].key, class: "big-image" %>
            <% end %>
          </div>
        <% end %>
      <%end%>

      <div class="infos-card">
         <div class="mb-2">
          <h2><%= @tool.name.capitalize %></h2>
        </div>
          <p class="description mb-4"><%= @tool.description %></p>
          <p id="price">Price: <%= @tool.price %>CHF / day</p>
          <p>Owner: <%= @tool.user.email %></p>
          <%= link_to "Rent it", new_tool_booking_path(@tool), class: "btn btn-primary my-3"%>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center my-5 width-100">

      <div>
        <% if policy(@tool).edit? %>
          <%= link_to 'Edit', edit_tool_path(@tool), class:"btn btn-outline-dark" %>
        <% end %>
        <% if policy(@tool).destroy? %>
          <%= link_to 'Delete', @tool, class:"btn btn-outline-dark", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>

      <div>
      <%= link_to "Back to equipment", tools_path, class: "btn btn-outline-dark my-3"%>
      </div>

    </div>

</div>
