<h2><%= @tool.name.capitalize %></h2>

<p><%= @tool.description %></p>
<p><%= @tool.category %></p>
<p>CHF:<%= @tool.price %></p>
<p><%= @tool.user.email %></p>
<%= cl_image_tag @tool.photo.key %>


<div>
  <%= link_to "Go back to equipment", tools_path, class: "btn btn-primary my-3"%>
  <% if policy(@tool).edit? %>
    <%= link_to 'Edit', edit_tool_path(@tool) %>
  <% end %>
</div>
