
<h3 class="my-2"> Add a new equipment</h3>
  <%= simple_form_for Equipment.new do |f| %>
    <%= f.input :name %>
    <%= f.input :type %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.submit "Add equipment", class: "btn btn-primary" %>
  <% end %>
