<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>User</th>
      <th>Tool</th>
      <th>Price total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if policy(@bookings).index? %>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.start_date %></td>
          <td><%= booking.end_date %></td>
          <td><%= booking.user_id %></td>
          <td><%= booking.tool.name %></td>
          <td><%= booking.price_total %></td>
          <td><%= link_to 'Show', booking %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Go to equipment', tools_path %>


<br>
