<div>
  <div class="banner border-bottom" style="background-image: url(https://www.galeria-reisen.de/magazin/wp-content/uploads/2021/01/KanadaAdobeStock_295448049.jpeg);">
  <div class="container">
    <h1>Welcome to Rent 4 Hike!</h1>
    <p>Do you love to go hiking? Then you are in the right place!</p>
    <p>Look through all the available equipment and rent it for as long as you need</p>
    <%= link_to "Check out our equipment", tools_path, class: "btn btn-ghost" %>
    </div>
  </div>

  <div class="cards m-4">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://outdooradventurestore.ie/blog/wp-content/uploads/2021/02/leki.png)">
      <%= link_to "Accessoires", tools_path%>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.roadaffair.com/wp-content/uploads/2019/06/man-hiking-backpack-shutterstock_644176402-1024x683.jpg)">
      <%= link_to "Backpacks", tools_path%>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.salomon.com/sites/default/files/articles/images/How-to-choose-hiking-jacket-man.jpg?fit=cover&orientation=1&quality=95&optimize=high&format=pjpg&auto=webp&dpr=1)">
      <%= link_to "Clothing", tools_path%>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wildlandtrekking.com/content/uploads/2020/09/Best-Low-Top-Hiking-Shoes.jpg)">
      <%= link_to "Footwear", tools_path%>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.thermarest.com/blog/wp-content/uploads/2019/04/Sleeping-Bag-Temperature-Ratings-Ben-Matthews-1600x1000-1.jpg)">
      <%= link_to "Sleeping bags", tools_path%>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cld.accentuate.io/245976039597/1645516544069/TELOS-ULTRALIGHT--FREESTANDING.jpg?v=0&options=w_1440)">
      <%= link_to "Tents", tools_path%>
    </div>
  </div>
</div>
